@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap'); /*Tech font*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /*Cursive Font*/
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap%27'); /*Times Variant*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); /*Times Variant Italic*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); /* Tag Line Font*/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    padding: 0rem;
    margin: 0rem;
    border: 0rem;

    background-color: #f7edf6;
    color: #bc2488;
    background-image: url("images/bckimg.png");
    background-repeat: repeat-x;
    background-position: top;
    min-height: 100vh;
}

header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top: 4.375rem;
    padding-left: 5rem;
    padding-right: 5rem;
    vertical-align: middle;
}

/* HEADER LINES */
.flourish {
    display: block;
    overflow: hidden;
    text-align: center;
    width: 90%;
    margin: auto;
    padding-bottom: 3.5%;
  }
  .flourish:before, 
  .flourish:after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    top: -1.5rem;
    position: relative;
    width: 50%;
    border-top-style: solid;
    border-top-width: 0.125rem;
  }
  .flourish:before {
    right: 0.5rem;
    margin-left: -50%;
  }
  .flourish:after {
    left: 0.5rem;
    margin-right: -50%;
  }
    .logo{
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 0.625rem;
    }
    /* WEBSITE FONTS */
    .InstruSeriffont { /*website name font*/
        font-family: Instrument Serif;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin: 0rem;
    }
    .LoraItalfont { /*tagline font*/
        font-family: Lora;
        font-size: 0.8125rem;
        font-weight: 50;
        line-height: 2;
        margin: 0rem;
        font-weight: bold;
    }

        .LoraItalfont-subheadings{
            font-family: Lora;
            font-size: 0.8125rem;
            font-weight: 50;
            line-height: 2;
            margin: 0rem;
            padding: 0rem;
            padding-left: 5em;
            font-weight: bold;
        }

    .Oswaldfont {    /*general/body font*/
        font-family: Oswald;
        font-size: 1.25rem;
        font-weight: 600;
    }
    .Lobsterfont { /*heading font*/
        font-family: Lobster;
    }

/* CUSTOMIZATIONS */
/* CUSTOMIZED SCROLL BAR */
::-webkit-scrollbar{
    width: 0.9375rem;
}
::-webkit-scrollbar-track{
background: #f7edf6;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#20165d,#dfb9dc);
  border-radius: 0.9375rem;
}

/* CUSTOMIZED HEADING FOR SECTIONS */
hr{
    border: 0.125rem solid #bc2488;
    width: 90%;
  }
  
  h1{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 5%;
    font-family: Lobster;
        font-size: 3.125rem;
        font-weight: 50;
  }
    .skills-h1{
        margin-bottom: 0;
        padding-bottom: 0;
            padding-left: 5%;
        font-family: Lora;
            font-size: 1.875rem;
            font-weight: 50;
    }

/* ABOUT THE AUTHOR */
.AboutAuthor{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #bc2488;
    gap: 40px;
    margin: auto;
    width: 90%;

}
.MeetTheAuthor{
    font-size: 3.125rem;
    padding: 0rem;
    padding-left: 0.625rem;
    margin: 0rem;
    margin-left: 5%;
    margin-top: 2em;
    color: #bc2488;
    width: auto;
}
.WhoIsShe{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    color: #bc2488;
    font-family: Lobster;
        font-size: 1.125rem;
        font-weight: 50;
}
.AboutAuthorimg{
    height: 18em;
    gap: 0;
    border-radius: 11.25em;
}


/*  ALL THINGS FOOTER*/
footer {
    font-family: Lora;
        font-size: 0.8125rem;
        font-weight: bold;
        line-height: 2;
    color:#20165d;
    width: 100%;
    bottom: 0rem;
    /* margin-top: auto; */
    /* margin-bottom: 10px; */
    /* padding: 10px; */
    padding-top: 3.75rem;
    background-image: url("images/bckimgusd.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

    footer p {
        margin: 0rem;
    }
    #icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.25rem;
        font-size: 1.5rem;
        color: #20165d;
    }

    .iconhovergit:hover{
        background-color: #bc2488;
        color: white;
        border-radius: 1.25rem;
    }
    .iconhoverlinkedin:hover{
        background-color: #bc2488;
        color: white;
        padding: 0rem;
        border-radius: 20%;
    }
    .iconhovermail:hover{
        background-color: #bc2488;
        color: white;
        border-radius: 20%;
    }

    .icon:hover, .icon:active{
        content:url('images/code1.jpeg');
        position: absolute;
        overflow: visible;
        display: block;
        width: 100%;
        height: 50%;
        top: -15%;
    }

    #iAmHerpreview:hover, #iAmHerpreview:active{
        content:url('images/iAmHer.png');
    }

    /* SKILLs */


